header {
    background-color: #000; /* Cambia el color de fondo según tu diseño */
    color: white;
    padding: 0 10px;
}
header .contain{
    margin: 0 auto; /* Esto centrará el header en la pantalla */
    max-width: 1400px; /* Establece el ancho máximo */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Ajusta el tamaño de tu logotipo según tus necesidades */
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    display: flex;
    align-items: flex-end;
}
nav li:nth-last-child(1) {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #A29C9C;
    font-weight: 600;
    transition: .3s ease color;
}
nav a:hover {
    color: #fff;
}

nav ul li a .canasta{
    width: 60px;
    display: flex;
    align-items: center;
}
nav ul li a .canasta rect,
nav ul li a .canasta path{
    fill: #A29C9C;
}
nav ul li a .canasta text{
    font-size: 5em;
    fill: #fff;
}
nav ul .ptos{
    /* display: flex; */
    display: none;
    align-items: center;
}