.listadoProductos{
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
}



@media (width < 1290px) {
    .listadoProductos{
        justify-content: center;
    }
}
@media (width < 1200px) {
    .listadoProductos{
        margin: 0 50px;
    }
}
@media (width < 1040px) {
    .listadoProductos{
        justify-content: flex-start;
    }
}

